<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CalScec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CalScec.Properties.Settings>
            <setting name="PlotYAxes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowIsMaximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="MainWindowLocationX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MainWindowLocationY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MainPlotWithErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainPlotLineStyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MainPlotLineThickness" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MainPlotDotThickness" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MainPlotMajorGridStyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MainPlotMinorGridStyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FWHMU" serializeAs="String">
                <value>0.338905</value>
            </setting>
            <setting name="FWHMV" serializeAs="String">
                <value>-0.001</value>
            </setting>
            <setting name="FWHMW" serializeAs="String">
                <value>0.001674</value>
            </setting>
            <setting name="HyperSensitivity" serializeAs="String">
                <value>3.5</value>
            </setting>
            <setting name="PeakMarkingThickness" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PeakMarkingStyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AcceptedPeakBackgroundRatio" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="MaxHKLReflection" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="UsedWaveLength" serializeAs="String">
                <value>1.688</value>
            </setting>
            <setting name="MaxMeasurmentAngle" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="PlotHKLOverview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HKLAssociationRangeDeg" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="PseudoVoigtRatio" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="FittingAngleConstraint" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="FittingSigmaConstraint" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FittingLorentzRatioConstraint" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="MaxFittingTrials" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ParameterFittingAcuraccy" serializeAs="String">
                <value>0.0001</value>
            </setting>
            <setting name="FunctionFittingAcuraccy" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="FittingLambdaMulti" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PeakWidthFWHM" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FitWindowIsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FitWindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="FitWindowWidth" serializeAs="String">
                <value>1300</value>
            </setting>
            <setting name="FitWindowLocationX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="FitWindowLocationY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ResidualPlotMajorGridStyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ResidualPlotMinorGridStyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PlotYFittingAxes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FittingPlotMajorGridStyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FittingPlotMinorGridStyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FittingFunctionResolution" serializeAs="String">
                <value>0.005</value>
            </setting>
            <setting name="AutomaticPeakFit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlotFittingOneSigmaLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlotFittingThreeSigmaLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PatternLowerLimit" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="PatternUpperLimit" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="SampleVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PatternVersion" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CODId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PeakId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReflexFitAutoCorrection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PsyAcceptanceAngle" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="REKAutoAusociationType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CubicFittingModel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RandomProbabilityIntervall" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UsedPeakDetectionId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ODFSymmetricCalculation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextureTopologyCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActivateDECTextureWeighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExstensionBase" serializeAs="String">
                <value>12900</value>
            </setting>
            <setting name="EPSCSimulationLimit" serializeAs="String">
                <value>100</value>
            </setting>
        </CalScec.Properties.Settings>
    </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=7.0.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>